<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://unpkg.com/vue@2.5.17/dist/vue.js"></script>
  <title>Vue learning</title>
</head>
<body>
  <div id="root">
    <input type="text" id="input" v-model="message">
    input value is: {{message}}
  </div>

  <script>

    new Vue({
      el:'#root',
      data: {
        message: 'Hello'
      }
    })
  </script>

</body>
</html>