<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://unpkg.com/vue@2.5.17/dist/vue.js"></script>
  <title>Vue learning</title>
</head>
<body>
  <div id="root">
    <h1>Completed Tasks</h1>
    <ul>
      <li v-for="task in tasks" v-if="task.completed" v-text="task.description"></li>
    </ul>
    <h1>Incompleted Tasks</h1>
    <ul>
      <li v-for="task in incompletedTasks" v-text="task.description"></li>
    </ul>
  </div>

  <script>

    new Vue({
      el:'#root',
      data: {
        tasks:[
          { description:'Go to store', completed:true },
          { description:'Finish Class', completed:false },
          { description:'Clear', completed:false },
          { description:'Go to chapu', completed:true },
          { description:'Go to Elaniin', completed:true },
          { description:'Go to work', completed:true },
        ]
      },
      computed:{
        incompletedTasks(){
          return this.tasks.filter(task => !task.completed);
        }
      }
    })
  </script>

</body>
</html>