<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://unpkg.com/vue@2.5.17/dist/vue.js"></script>
  <title>Vue learning</title>
</head>
<body>
  <div id="root">
    <ul>
      <li v-for="name in names" v-text="name"></li>
    </ul>
    <input type="text" id="input" v-model="newName">
    <button v-on:click="addName">add</button>
  </div>

  <script>

   var app = new Vue({
      el:'#root',
      data: {
        newName: '',
        names: ['Joe', 'Mary', 'Jane', 'Jack']
      },
      methods: {
        addName(){
          this.names.push(this.newName);
          this.newName = '';
        }
      }
    });
  </script>

</body>
</html>